@import "tailwindcss";

.ProseMirror ul[data-type="taskList"] {
  list-style: none;
  padding-left: 0;
}

.ProseMirror li[data-type="taskItem"] {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.ProseMirror li[data-type="taskItem"] > label {
  flex: 0 0 auto;
  margin-top: 0.3rem;
  user-select: none;
}

.ProseMirror li[data-type="taskItem"] input[type="checkbox"] {
  cursor: pointer;
}

.ProseMirror li[data-type="taskItem"] > div {
  flex: 1 1 auto;
}

.ProseMirror li[data-type="taskItem"][data-checked="true"] > div {
  text-decoration: line-through;
  opacity: 0.6;
}
